html
  head
    title Let's convert
    script(src='https://code.jquery.com/jquery-2.2.0.min.js')
    link(rel="stylesheet", type="text/css", href="css/global_style.css")
  body
    section
      h1 Converter build with NodeJS
      article.converter
        include converter
      p &copy; #{moment().format('YYYY')} Sebastian Springer & Dirk Lipjes